.userList {
  flex: 4;
}
.userlist {
  margin: 20px;
}
.userListTitle {
  display: flex;
  justify-content: center;
  /* margin-bottom: 10px; */
  font-weight: 800 !important;
  justify-content: space-between;
}
.userAddButton {
  height: 35px;
  width: 100px;
  color: white;
  font-weight: 500;
}
.userAddButton:hover {
  background-color: yellow;
  color: black;
}
.usersList {
  max-width: 1300px;
  /* max-height: 600px;
  height: 500px; */
  /* overflow: auto; */
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: lightgrey;
}
::-webkit-scrollbar-thumb {
  background-color: grey;

  border-radius: 5px;
}
.userListUser {
  width: "100%";
  border-collapse: collapse;
}
.userListUser td,
.userListUser th {
  border: 1px solid #f0f0f0;
  padding: 8px;
  width: 150px;
  white-space: nowrap;
}
.userListUser tr:nth-child(even) {
  background: #fafafa;
}
.userListUser th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: #f2f2f2;
  color: black;
  width: 1200px;
}
.userListUser tbody tr:hover {
  cursor: pointer;
  background-color: honeydew;
  box-shadow: 0 0 30px rgb(197, 195, 195);
  transition: ease-in 0.1s;
}
.userListUser i {
  cursor: pointer;
}

.userListImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}
.userListDelete {
  border: none;
  color: red;
  cursor: pointer;
  align-items: center;
  font-size: 30px;
  margin-left: 20px;
}

.userListEdit {
  border: none;
  color: black;
  cursor: pointer;
  align-items: center;
  font-size: 30px;
}
.userlist .pagination-container {
  margin: 20px 0;
  text-align: right;
}
.userlist_result {
  display: flex;
  justify-content: space-between;
  text-align: right;

  margin: 0 0 10px;
}
.userList_toolbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 8px 10px;
  margin: 0 0 0px;
  width: 1230px;
  background-color: rgb(210, 241, 210);
}

.userlist_show_result .result {
  text-align: right;
}
.userList_toolbar_wrapper .search_input input {
  border: none;
}

.userList_toolbar_wrapper .sort_select,
.userList_toolbar_wrapper .select_output,
.userList_toolbar_wrapper .search_input {
  border-left: 3px solid #ddd;
}
.userList_toolbar_wrapper .search_input input,
.userList_toolbar_wrapper .select_output select,
.userList_toolbar_wrapper .select_account select,
.userList_toolbar_wrapper .sort_select select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px#e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
